*{
  margin:0;
  padding: 0%;
}

html,body{
  min-width:100%;
  min-height:100%;
  padding:0;
  margin:0;
  
  font-family: Martel,Georgia,Times,serif;
  color: rgb(80, 86, 92);

}
button:active{ 
  border-style: outset;
}

a, a:visited,a:hover{
  text-decoration: none;
}

#content{

  min-width: 100vh;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-play-state: paused;
}

h3:hover{
  color:red;
  text-decoration: underline;
  cursor: pointer;
  
}
.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height:20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
iframe{
  min-width:90vh;
  min-height:60vh;
}

.left{
  min-width: 20%;
  min-height:10vh;
  background-image: url(../images/left2.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;

  align-items: center;
}

#left-text{
  padding-top: 10vh;
  padding-left:2vh;
  color: black;
}

.right{
  min-width: 20%;
  min-height:10vh;
  background-image: url(../images/right2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  justify-content: flex-end;

  align-items: center;
}

#right-text{
  padding-top: 10vh;
  padding-right:6vh;
  color: black;

}

.link-text{
  font-size: 1.5rem;
  color:black;
}


#videobg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -3;
}

#darkbg{
  position: fixed;
  background-color: black;
  z-index: -2;
  min-height: 100vh;
  min-width:100%;
  animation: fadeToBlack 2s forwards;
  animation-play-state: paused;
}


@keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes fadeToBlack{
  from{
    opacity:0;
  }
  to{
    opacity:0.7;
  }
}

@media only screen and (max-width: 1600px) {

  .left{
    min-width: 20%;
    min-height:10vh;
    background-image: none;
  
    display: flex;
  
    align-items: center;
  }
  
  
  .right{
    min-width: 20%;
    min-height:10vh;
    background-image: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .bottom{
    background-image: url(../images/shortbottom.png);
    background-repeat: no-repeat;
    background-size: cover;   
  }

  h3{
    font-size: 0.9em;
  }

  iframe{
    min-width:90vh;
    min-height:40vh;
  }
}
